<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Nifty Tours Template</title>
    <link href="css/template.css" rel="stylesheet" type="text/css">
    <script src="navigation.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="header">
                <div id="header_nav">
                    <div class="topnav" id="myTopnav">
                        <a href="#home">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact us!</a>
                        <a href="#guides">Services</a>
                        <a href="#about">About</a> 
                        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">&#9776;</a>
                    </div>
                </div>  
                <div id="header_logo"><img src="images/nifty-tours-logo.png"></div>
                <div id="header_contact">
                    <div class="dropdown">
                        <button class="dropbtn" onclick="myFunction()">Translators!</button>
                        <div class="dropdown-content" id="myDropdown">
                            <a href="#">French</a>
                            <a href="#">Chinese</a>
                            <a href="#">Spanish</a>
                        </div>
                    </div>
                    <a href="#contact">Come with us!</a>
                    <p>503-555-1212</p>
                </div>
            </div>
        </header>
        <div id="main_content_wrapper">
            <div id="main_content_left">
                <h1>Main Content 1</h1>
                Proin id tempor urna. Sed vel nulla hendrerit, sodales lorem vitae, consectetur sem. Phasellus id risus metus. Cras efficitur massa luctus interdum elementum. Quisque et feugiat risus. Integer et justo consequat purus dapibus convallis. Aliquam volutpat at dui id ullamcorper. Duis vulputate, nunc eget viverra gravida, nisi nunc fringilla turpis, eget dapibus ipsum nunc a quam. Nulla luctus risus vitae nunc tincidunt euismod. Nunc magna dui, gravida bibendum ante sit amet, bibendum placerat tellus. Curabitur facilisis, erat nec dignissim eleifend, nunc augue condimentum leo, vestibulum tincidunt mauris ante pulvinar mauris.
            </div>
            <div id="slideshow_wrapper">
                <div id="slideshow"><img src="images/best.png"> </div>
            </div>
        </div>
        <div id="content_main">
            <div id="content_wrapper">
                <div id="content_left">
                    <h1>Content 1</h1>
                    Proin id tempor urna. Sed vel nulla hendrerit, sodales lorem vitae, consectetur sem. Phasellus id risus metus. Cras efficitur massa luctus interdum elementum. Quisque et feugiat risus. Integer et justo consequat purus dapibus convallis. Aliquam volutpat at dui id ullamcorper. Duis vulputate, nunc eget viverra gravida, nisi nunc fringilla turpis, eget dapibus ipsum nunc a quam. Nulla luctus risus vitae nunc tincidunt euismod. Nunc magna dui, gravida bibendum ante sit amet, bibendum placerat tellus. Curabitur facilisis, erat nec dignissim eleifend, nunc augue condimentum leo, vestibulum tincidunt mauris ante pulvinar mauris.
                </div>
                <div id="content_right">
                    <h1>Content 2</h1>
                    Proin id tempor urna. Sed vel nulla hendrerit, sodales lorem vitae, consectetur sem. Phasellus id risus metus. Cras efficitur massa luctus interdum elementum. Quisque et feugiat risus. Integer et justo consequat purus dapibus convallis. Aliquam volutpat at dui id ullamcorper. Duis vulputate, nunc eget viverra gravida, nisi nunc fringilla turpis, eget dapibus ipsum nunc a quam. Nulla luctus risus vitae nunc tincidunt euismod. Nunc magna dui, gravida bibendum ante sit amet, bibendum placerat tellus. Curabitur facilisis, erat nec dignissim eleifend, nunc augue condimentum leo, vestibulum tincidunt mauris ante pulvinar mauris.
                </div>  
            </div>
            <div id="footer">
                <img src="images/facebook-logo.png">
                <img src="images/twitter-logo.png">
            </div>
        </div>  
    </div>
</body>
</html>