/* General CSS */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
        background-image: url(../images/nifty-map_test.png);    
    }
main{
    width:90%;
    margin:auto;
    display:block;
    overflow:hidden
}
footer {
    background-color:#482D3C;
    padding:15px;
}
#slideshow_wrapper {
    background-color:#482D3C;
    padding: 5px;
    border:2px solid #AEA600;
    border-radius: 15px;
    box-shadow: 8px 8px 5px darkgrey;
}
#main_content_left h1 {
    text-align: center;
    font-size:1.5em;
    font-weight: bold;
    padding:15px;
}
#secondary_content {
    display:inline-block;
    background-color:#745577;
    color: #DDC4D2;
    margin-top:15px;
    border-top:3px solid #AEA600;
    border-left:2px solid #482D3C;
    border-right:2px solid #482D3C;
    width:100%;
}
#secondary_content h1, h2 {
    text-align: center;
    font-size:1.5em;
    font-weight: bold;
    padding:15px;
}
#content_wrapper {
    width:95%;
    display:inline-block;
    margin:auto;
    padding:10px;
}
.topnav a {
    float: left;
    display: block;
    color: #482D3C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold
}
#about p {
	margin-bottom: 12px;
    text-align: center;
}
#about hr {
	width: 200px;
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding-right: 50px;
}
#about li {
	list-style-image: url(../images/compass-bullet.png);
    margin 10px 0px 140px 0px;
}
#about ul {
    width:60%;
    margin:auto;
}
/* Mobile CSS */
@media only screen and (max-width: 480px) {
     /* Main CSS */
    #about p, hr, li, ul {
        margin:0px;
        padding:0px;
    }
    #main_content_left {
        width:80%;
        float:none;
        margin:auto 25px auto auto;
    }
    
    /* Currency Converter CSS */
    
    #content_right_currency {
        text-align: center;
        width:90%;
        height:auto;
        margin:10px auto;
        border: 3px solid #cccccc
    }
    #currency_form {
        
        padding:5px;
        background-color:white;
        background-image: url(../images/nifty-map.png);
        border: 1px solid;
        border-radius: 15px;
        color:#482D3C;
    }
    #currency_form_inner {
        width:100%;
        margin:auto;
    }
    #currency_form label {
        display: inline-block;
        width:175px;
        margin:10px 0px 10px 0px;
        font-weight: bold;
    }
    #currency_form input {
        width:241px;
    }
    #currency_button {
        display:block;
        margin-top:10px;
    }
    
    /* Secondary Content */
    
    #secondary_content {
        width:100%;
    }
    #content_left {
        float:none;
    }
    #content_left p {
        text-align: center;
    }
    #content_right { 
        float:none;
    }
    #content_right p {
        text-align: center;
    }
    
    /* Nav CSS */
    
    header img {
        display:none;
    }
    nav {
        width:100%;
        margin:0px auto;
        float:none;
    }
    #header_contact {
        display:none;
    }
    #navigation {
        width:auto;
    }
    .topnav a:not(:first-child) {
     display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav {
        width:auto;
        float:none;
        margin:0px;
        overflow: hidden;
        border-bottom:2px solid #000000;
        border-top:2px solid #000000;
    }
    .topnav a:visited, a:link {
        color:#482D3C;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    } 
    
    /* Slideshow CSS */
    
    #slideshow_wrapper img {
        display:block;
        margin:auto;
        width:100%;
    }
    #slideshow_wrapper {
        width:80%;
        margin:20px 25px auto auto;
        float:none;   
    }
    
    /* Contact Form CSS */
    
    #contact_form label {
        display: block;
        text-align: center;
    }
    #contact_mobile_select {
        display: block;
        width:80%;
        margin:0px auto 5px auto;
    }
    .contact_class_input {
        display: block;
        width:80%;
        margin:5px auto;
    }
    .contact_class_select {
        display: block;
        width:80%;
        margin:5px auto;
    }
    .contact_class_date {
        width:auto;
        margin:10px auto;
    }
    .contact_class_option {
        text-align: center;
    }
    
    input[name=year] {
        text-align: center;
        width:50px;
    }
    input[type=submit] {
        display:block;
        margin:5px auto;
    }
    textarea[name=comments] {
        display: block;
        width:80%;
        margin:10px auto;
    }
    
}
/* Tablet CSS */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    
    /* Main CSS */
    
    #about p, hr, li, ul {
        width:auto;
        margin:0px;
        padding:0px;
    }
    #main_content_left {
        width:80%;
        float:none;
        margin:auto 80px auto auto;
    }
    
    /* Slideshow CSS */
    
    #slideshow_wrapper {
        width:80%;
        margin:20px 80px auto auto;
        float:none;
    }
    #slideshow_wrapper img {
        display:block;
        margin:auto;
        width:100%;
    }
    
    /* Secondary Content */
    
    #secondary_content {
        width:100%;
    }
    #content_left {
        float:left;
        width:47.434%;
        margin: 3px 0px 0px 3px;
        padding:5px;
        font-size: 1.2em;
    }
    #content_left_contact {
        text-align: center;
        font-size: 1em;
    }
    #content_right {
        float:right;
        width:47.434%;
        margin:3px 3px 0px 0px; 
        padding:5px;
        font-size: 1.2em;
    }
    
    /* Nav CSS */
    
    #header_contact {
        display:none;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav {
        width:auto;
        float:none;
        margin:0px;
        overflow: hidden;
        border-bottom:2px solid #000000;
        border-top:2px solid #000000;
    }
    .topnav a:visited, a:link {
        color:#482D3C;
    }
    #navigation {
        width:auto;
    }
    header img {
        display:none;
    }
    nav {
        width:100%;
        margin:0px auto;
        float:none;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    } 
    /* Contact Form CSS */
    
    #contact_form label {
        display: block;
        text-align: center;
    }
    #contact_mobile_select {
        display: block;
        width:80%;
        margin:auto;
    }
    .contact_class_input {
        display: block;
        width:80%;
        margin:5px auto;
    }
    .contact_class_select {
        display: block;
        width:80%;
        margin:5px auto;
    }
    .contact_class_date {
        width:30%;
        margin:5px auto;
    }
    .contact_class_option {
        text-align: center;
    }
    
    input[name=year] {
        text-align: center;
    }
    input[type=submit] {
        display:block;
        margin:5px auto;
    }
    textarea[name=comments] {
        display: block;
        width:80%;
        margin:auto;
    }
    
    /* Currency Converter CSS */
    
    #content_right_currency {
        text-align: center;
        width:90%;
        height:auto;
        margin:10px auto;
        border: 3px solid #cccccc
    }
    #currency_form {
        
        padding:5px;
        background-color:white;
        background-image: url(../images/nifty-map.png);
        border: 1px solid;
        border-radius: 15px;
        color:#482D3C;
    }
    #currency_form_inner {
        width:100%;
        margin:auto;
    }
    #currency_form label {
        display: inline-block;
        width:175px;
        margin:10px 0px 10px 0px;
        font-weight: bold;
    }
    #currency_form input {
        width:241px;
    }
    #currency_button {
        display:block;
        margin-top:10px;
    }

}
/* Desktop CSS */
@media only screen and (min-width: 1025px) {
    /* Main CSS */
    
    body {
        overflow-x: hidden;
        margin: 0px;
        padding: 0px;
    }
    main{
        width:90%;
        margin:auto;
        display:inline-block;
    }

    #main_content_left {
        color:#482D3C;
        width:40%;
        float:left;
        padding:10px;
        margin-left:40px;
        font-size: 1.2em;
    }
    
    /* Slideshow Content */

    #slideshow_wrapper img {
        display:block;
        margin:auto;
        width:100%;  
    }

    #slideshow_wrapper {
        width:50%;
        margin:10px 10px 0px 0px;
        float:right;
        
    }
    
    /* Secondary Content */

    #content_left {
        float:left;
        width:47.434%;
        margin: 3px 0px 0px 3px;
        padding:5px;
        font-size: 1.2em;
    }
    
    #content_left_contact {
        text-align: center;
        font-size: 1em;
    }

    #content_right {
        float:right;
        width:47.434%;
        margin:3px 0px 0px 0px; 
        padding:5px;
        font-size: 1.2em;
    }
    
    /* Contact Form CSS */
    
    #contact_form label {
        display: inline-block;
        width:250px;
        margin:0px 30px 20px 0px;
    }
    input[name=year] {
        width:30px;
        text-align: center;
    }
    input[type=submit] {
        display:block;
        margin:auto;
    }
    #contact_mobile_select {
        display:inline;
    }
    
    /* Currency Converter CSS */
    
    #content_right_currency {
        text-align: center;
        width:100%;
        height:auto;
        margin:15px auto;
        border: 3px solid #cccccc
    }
    #currency_form {
        
        padding:15px;
        background-color:white;
        background-image: url(../images/nifty-map.png);
        border: 1px solid;
        border-radius: 15px;
        color:#482D3C;
    }
    #currency_form_inner {
        width:80%;
        margin:auto;
    }
    #currency_form label {
        display: inline-block;
        width:175px;
        margin-bottom:5px;
    }
    #currency_form input {
        width:240px;
    }
    #currency_button {
        display:block;
        margin:auto;
    }
    
    /* Nav CSS */
    
    header {
        width:90%;
        margin:auto;
    }

    nav {
        float:left;
        width:40%;
        margin:80px auto;
        margin-left:40px;
    }

    header img {
        float:left;
        width:17%;
        margin:auto;
    }
    
    #header_contact {
        width:30%;
        margin:80px auto;
        overflow: hidden;
        border-bottom:2px solid #000000;
        border-top:2px solid #000000;
        float:left;
    }

    #header_contact a {
        float: left;
        display: block;
        color: #482D3C;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold
    }

    #header_contact p {
        padding: 14px 16px;
    }
    
    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        cursor: pointer;
        font-size: 15px;    
        border: none;
        outline: none;
        color: #482D3C;
        padding: 14px 16px;
        background-color: inherit;
        font-weight: bold;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-image: url(../images/nifty-map_test.png);
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border:2px solid #000;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        z-index: 1;
        margin-top:2px;
    }

    .dropdown-content a:hover {
        text-decoration: underline;
    }

    .dropbtn:hover {
        text-decoration: underline;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        border-left:1px solid;
        border-bottom-left-radius: 15px;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    .topnav {
        width:50%;
        margin:80px auto;
        overflow: hidden;
        border-bottom:2px solid #000000;
        border-top:2px solid #000000;
    }

    .topnav a:hover {
        text-decoration: underline;
        color: black;
    }

    .topnav a:visited, a:link {
        color:#482D3C;
    }

    .topnav .icon {
        display: none;
    }
}